*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    min-height: 1600px;
    background: #000;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1400px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, #000 100%);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#last{
    z-index: 10;
}
#text{
    position: relative;
    color: white;
    z-index: 2;
    font-size: 12em;
    text-align: center;
    padding-top: 205px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Caveat Brush', cursive;
}
.ab-text{
    padding: 100px 20%;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 40px;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.heading p{
    color: #9bacc4;
    font-size: 15px;
    line-height: 28px;
}
.container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(220px, auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 5rem;
}
.box{
    height: 340px;
    width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    background-color: gray;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    opacity: 0.6;
}
.in{
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}
.bottom{
    text-align: center;
    color: #adb5db;
    padding-top: 150px;
    font-size: 14px;
    letter-spacing: 1px;
}


@media (max-width: 768px) {
    #text{
        font-size: 5rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    #text{
        font-size: 8rem;
    }
}